[submodule "distributed_block_and_object_storages"]
	path = dbso
	url = git@github.com:zezav-cz/distributed_block_and_object_storages.git
[submodule "normality"]
	path = normality
	url = git@github.com:zezav-cz/normality.git
